 p {
    color : rgb(6, 66, 66);
    font-size : 22px;
    }
            
.venkman {
   color: rgb(7, 58, 134);
}

.mayor {
   color: rgb(24, 17, 209);
}

.stantz {
   color: rgb(4, 6, 85);

}

.winston {
   color: rgb(88, 78, 177);

}

.egon {
   color: rgb(50, 26, 158);

}

.staging {
   color:rgb(15, 12, 151);
   font-size: 14px;
   font-weight: 500;
   font-style: italic;

}

.title {
   color:black;
   font-style:italic;
}

